@use "vars";
@use "button";

.root .featured {
    &:first-child:not(.restrict) .picture {
        margin-top: -5rem;
        position: relative;
        z-index: 50;

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }

    .picture {
        display: block;
        margin-right: -1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0;
        overflow: hidden;
        margin-left: grid-column(3);

        img {
            width: 100%;
        }
    }

    &:nth-of-type(2n) {
        .picture {
            margin-left: -1rem;
            margin-right: grid-column(3);
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            border-right-width: .5rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-width: 0;
        }
    }

    &.wide {
        .picture {
            margin-left: 0;
        }

        &:nth-of-type(2n) {
            .picture {
                margin-left: -1rem;
                margin-right: 0;
            }
        }
    }

    @include breakpoint(medium) {
        @include wide;
        
        .content, .picture {
            float: left;
        }

        .picture {
            width: calc(50% - 1rem);
        }

        .content {
            width: grid-column(6);
            padding-left: 2rem;
        }

        &:nth-of-type(2n) {
            .content, .picture {
                float: right;
            }

            .content {
                padding-left: 0;
                padding-right: 2rem;
            }
            
        }

        .picture, &:nth-of-type(2n) .picture {
            margin-left: 0;
            margin-right: 0;
            border-radius: 2rem;
            border-left-width: .5rem;
            border-right-width: .5rem;
        }

        &.wide {
            .picture {
                width: calc(#{grid-column(7)} - 1rem);
            }
            .content {
                width: grid-column(5);
                padding-top: 0;
            }
        }
    }

    @include breakpoint(large) {
        .content {
            width: grid-column(5);
            padding-left: 2rem;
            padding-top: 3rem;
        }

        &:nth-of-type(2n) {
            .content {
                padding-left: 0;
                padding-right: 2rem;
            }
            
        }

        &.wide .content {
            width: grid-column(4);
        }
    }
}