@use "vars";
@use "button" as b;

header {
    width: 100%;
    background-color: vars.$orange;

    @each $name, $color in vars.all_extra_colors() {
        &.#{$name} {
            background-color: $color;
        }
    }

    .layout {
        padding: 1rem;
        display: table;
        width: 100%;
        background-color: inherit;

        .logo {
            display: table-cell;
            text-align: left;
            position: relative;
            z-index: 150;
            
            img {
                height: 2rem;  
                width: auto;  
            }
        }

        .mobile {
            position: relative;
            z-index: 75;
            display: table-cell;
            text-align: right;

            a {
                text-decoration: none;
            }
        }

        .mobile a, .mobile label, nav label {
            @include b.button-normal(.625rem);
            background-color: vars.$white;
            border-color: vars.$white;
            font-size: .75rem;
            text-transform: uppercase;
        }

        .mobile label, nav label {
            @include b.button-hover(.625rem);
            background-color: transparent;

            @include vars.hover {
                @include b.button-hover(.625rem);
            }
        }
        
        #nav-state {
            display: none;
        }

        nav {
            padding: 1rem;
            position: fixed;
            width: 100vw;
            height: 100vh;
            max-height: stretch;
            top: 0;
            left: 0;
            background-color: inherit;
            z-index: 100;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s ease;
            font-size: vars.$text-xl;
            font-weight: bold;
            text-align: center;

            @include breakpoint(medium only) {
                font-size: 1rem;
            }

            label {
                float: right;
            }

            .main {
                height: auto;
                min-height: calc(50% - 2.5rem);
                width: 100%;
                display: flex;
                padding-top: 1rem;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                
                a {
                    flex-basis: content;

                    &:hover {
                        color: vars.$white;
                    }
                }

                a.active {
                    background-repeat: no-repeat;
                    background-image: url("image/ScribbleMenu.svg");
                    background-position: 0 1.15em;
                    background-size: 100% 15px;
                    padding-bottom: 15px;
                    margin-bottom: -15px;
                }
            }

            .featured {
                height: calc(50% - 2.5rem);
                display: inline-table;
                padding-bottom: 1rem;

                .button {
                    display: none;
                }

                div {
                    padding: .5rem;
                    padding-top: 0;

                    * {
                        display: block;
                        padding: .625rem 1.25rem;
                    }

                    span {
                        font-weight: bold;
                        font-size: 1rem;
                        padding-top: 0;
                    }

                    a {
                        margin-right: 0;
                        margin-bottom: .5rem;
                        border-radius: .2rem;
                        font-weight: bold;
                        background-color: white;

                        &:first-of-type {
                            border-radius: 1rem 1rem .2rem .2rem;
                        }

                        &:last-of-type {
                            border-radius: .2rem .2rem 1rem 1rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .social {
                text-align: center;
                
                a {
                    display: inline;
                }
            }

            a {
                display: table-row;
                text-decoration: none;
            }
        }

        #nav-state:checked {
            & ~ nav {
                visibility: visible;
                opacity: 1;
            }
            & ~ .logo {
                position: fixed;
                z-index: 200;
                top: 1rem;
            }
        }

        @include breakpoint(medium) {
            .logo {
                position: relative !important;
                display: inline;
                top: 0 !important;
                
                img {
                    height: auto;
                }
            }

            .mobile {
                display: none;
            }

            nav {
                visibility: visible;
                float: right;
                opacity: 1;
                position: relative;
                width: auto;
                height: auto;
                transition: none;
                padding: 0;

                label, .social {
                    display: none;
                }

                .main a {
                    display: inline;
                    margin-right: 1rem;
                    font-weight: normal;
                }
                
                div {
                    height: auto;
                }

                .main {
                    padding-top: 0;
                }

                .main, .featured, .featured .button {
                    display: inline;
                }

                .featured {
                    .button {
                        @include b.button();
                        background-color: vars.$white;
                        border-color: vars.$white;

                        &:after {
                            content:"\A";
                            border-style: solid;
                            border-width: 0 10px 15px 10px;
                            border-color: transparent transparent vars.$white transparent;
                            position: absolute;
                            width: 15px;
                            bottom: -15px;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            opacity: 0;
                            transition: none;
                        }
                    }

                    div {
                        right: 0;
                        top: 3.8rem;
                        background-color: vars.$white;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        display: block;
                        border-radius: 1.5rem;
                        transition: all linear 0s .5s;

                        span {
                            opacity: .5;
                            padding: 1rem;
                        }

                        a {
                            background-color: vars.$orange;

                            @include vars.hover {
                                background-color: transparent;
                                border: .25rem solid vars.$orange;
                                padding: .375rem 1rem;
                                color: vars.$black;
                            }
                        }
                    }

                    @include vars.hover {
                        .button {
                            @include b.button-hover();
                            position: relative;

                            &:after {
                                opacity: 1;
                                transition: opacity ease .5s;
                            }
                        }

                        div {
                            visibility: visible;
                            opacity: 1;
                            transition: opacity ease .5s;
                        }
                    }
                }
            }
        }
    }
}