@use "vars";
@use "button" as b;

.navigate {
    font-weight: bold;

    .top & {
        font-size: 1rem;
        margin-bottom: 2rem;
        display: block;
    }

    &.button:not(.small) {
        display: none;
    }

    &.small, &.mobile {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
        padding-top: .5rem;
        padding-bottom: 1rem;
    }

    &.button, & .button {
        &.mobile, &.small {
            @include b.button(.5rem);
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            margin-right: .5rem;
        }
    }

    @include breakpoint(medium) {
        &.button:not(.small) {
            display: inline-block;
        }
        &.mobile {
            display: none;
        }
    }

    &.container {
        font-size: vars.$text-xl;
        
        a {
            display: block;
            margin-right: grid-column(3);
            padding-left: 2.5rem;

            .button.small {
                margin-left: -2.5rem;
            }

            &:nth-child(2n) {
                margin-right: 0;
                margin-left: grid-column(3);
                padding-left: 0;
                padding-right: 2.5rem;
                text-align: right;

                .button.small {
                    margin-right: -2.5rem;
                    margin-left: .5rem;
                }
            }
        }

        @include breakpoint(medium) {
            @include grid-row;

            a, a:nth-child(2n) {
                @include grid-column-gutter;
                width: 50%;
                float: left;
            }

            a {
                margin-right: 0;
                padding-left: 2.5rem;

                &:nth-child(2n) {
                    margin-left: 0;
                    padding-right: 2.5rem;
                }
            }

        }
    }
}