@use "vars";

blockquote {
    color: vars.$black;
    border-left: 0;
    padding: 0;
    margin: 0;

    span, p {
        display: block;
        margin-bottom: 1rem;
        color: vars.$black;
    }

    img:not(.noborder) {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        border-width: .25rem;
        float: left;
        margin-right: .75rem;
    }

    cite {
        font-weight: bold;
        font-style: normal;
        font-size: .9rem;
        color: vars.$black;
        line-height: 3rem;

        &::before {
            display: none;
        }
    }

    @include breakpoint(medium) {
        position: relative;
        margin-left: -1rem;
        margin-right: -1rem;

        span, p, cite {
            @include grid-column-gutter;
            width: grid-column(9);
            margin-left: grid-column(3);
        }

        img:not(.noborder) {
            width: 110px;
            height: 110px;
            top: 0;
            bottom: 0;
            left: 1rem;
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 50px;
            border-width: .5rem;
        }

        cite {
            line-height: 1.6;
        }
    }

    @include breakpoint(large) {
        span, p, cite {
            font-size: vars.$text-xl;
        }
    }
}