@use "vars";

.root .triple {
    background: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    
    .item {
        padding-left: .5rem;
        padding-right: .5rem;
        width: 75vw;
        display: inline-block;
        white-space: initial;
        overflow-x: auto;
        vertical-align: top;
        
        &:last-of-type {
            padding-right: 1rem;
        }
    }

    @include breakpoint(medium) {
        @include wide;
        
        .item {
            width: 42.5vw;
        }
    }

    @include breakpoint(large) {
        padding-left: 0;
        padding-right: 0;
        
        .item {
            @include grid-column(4);
        }
    }
}