.menu-item {
    display: inline;
}

.menu-item ::marker {
    display: none;
}

.alignwide {
    @include wide;
}

.root blockquote span, .root blockquote p, .root blockquote cite {
    width: unset;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

header .layout nav .main .current-menu-item a, header .layout nav .main .current-page-ancestor a {
    background-repeat: no-repeat;
    background-image: url("image/ScribbleMenu.svg");
    background-position: 0 1.15em;
    background-size: 100% 15px;
    padding-bottom: 15px;
    margin-bottom: -15px;
}

@media (max-width:600px) {
    .wp-block-media-text .wp-block-media-text__content {
        padding: 0;
    }
}