/* Error: Can't find stylesheet to import.
 *    ,
 * 63 | @import 'node_modules/foundation-sites/scss/util/_util.scss';
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\styles\_settings.scss 63:9  @import
 *   assets\styles\main.scss 1:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 63 \2502  @import 'node_modules/foundation-sites/scss/util/_util.scss';\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\styles\\_settings.scss 63:9  @import\a   assets\\styles\\main.scss 1:9        root stylesheet";
}
