// Settings overrides
$body-font-family: "Poppins", Helvetica, sans-serif;
$paragraph-lineheight: 1.4;
$header-font-family: "Poppins", Helvetica, sans-serif;
$header-font-weight: bold;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 28),
    'h3': ('font-size': 28),
    'h4': ('font-size': 20),
    'h5': ('font-size': 18),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 38),
    'h2': ('font-size': 38),
    'h3': ('font-size': 28),
    'h4': ('font-size': 24),
    'h5': ('font-size': 21),
    'h6': ('font-size': 16),
  ),
);

$grid-column-gutter: (small: 16px, medium: 32px);
$grid-row-width: 1152px;

@mixin wide {
  width: 1152px;
  max-width: 100vw;
  margin-left: unquote("max(-50vw + 50%, -#{$grid-row-width / 2} + 50%)");
  padding: 0 1rem;
}