<!DOCTYPE html>
<html lang="nl">
    <head>
            <title>Arnold wil geld</title>

    </head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
					<div id="digidecs" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Je krijgt geen cent</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="index.php" method="post" enctype="multipart/form-data" id="digidecs-form">
                                <div class="form-group">
                                    <label for="name">Naam<sup>*</sup></label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Secretaris" required="">
                                </div>

                                        <div class="form-group">
                                                <label for="bank-account">IBAN<sup>*</sup></label>
                                                <input id="bank-account" name="bank-account" type="text" class="form-control" placeholder="NL13TEST0123456789" required="">
                                        </div>

                                <div class="form-group">
                                    <label for="email">E-mailadres<sup>*</sup></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="gigantischebaas@viakunst-utrecht.nl" required="">
                                </div>

                                <div class="form-group">
                                    <label for="totalamount">Totaalbedrag<sup>*</sup></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input id="totalamount" name="totalamount" type="text" class="form-control" placeholder="9999.00" required="" pattern="[-+]?[0-9]*[.]?[0-9]+" oninvalid="setCustomValidity('Only use digits and separate them with a dot (.) if needed.')" onchange="try{setCustomValidity('')}catch(e){}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description">Wat heb je gekocht?<sup>*</sup></label>
                                    <input id="description" name="description" type="text" class="form-control" placeholder="Graafmachine" required="">
                                </div>

                                <div class="form-group">
                                    <label for="purpose">Waarvoor?<sup>*</sup></label>
                                    <input id="purpose" name="purpose" type="text" class="form-control" placeholder="Bestuur, lul!" required="">
                                </div>

                                <div class="form-group">
                                    <label for="recipient">Welke commissie<sup>*</sup></label><br>
                                                <input id="recipient" name="recipient" type="radio" value="aco"> Activiteitencommissie<br>
                                                <input id="recipient" name="recipient" type="radio" value="other"> Overig (Bestuur)<br>
                                            </div>

                                <div class="form-group">
                                    <label for="ticket">Bonnetje uploaden<sup>*</sup></label>
                                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760">
                                    <input name="ticket" type="file" id="ticket" required="">
                                    <p class="help-block">Maximale grootte is 20MB. Alleen .pdf, .jpg, en .png bestanden.</p>

                                                <p class="help-block">Zorg dat de datum, het (btw) bedrag en de verschillende producten of diensten goed leesbaar zijn. Zorg ervoor dat het bonnetje in z'n geheel zichtbaar is.</p>
                                </div>

                                <div class="form-group">
                                    <label for="remarks">Opmerkingen</label>
                                    <textarea name="remarks" class="form-control" rows="3" type="textarea" id="remarks"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="accept-tos">
                                        <input type="checkbox" name="accept-tos" id="accept-tos" required=""> Ik heb alles gecheckt en naar waarheid ingevuld<sup>*</sup>
                                    </label>
                                </div>
                                <p>Velden met een <sup>*</sup> zijn verplicht</p>
                                <input type="submit" class="btn btn-success" value="Geef geld!">
                            </form>
                        </div>
					</div>
				</div>
			</div>
		</div>
	

</body>
</html>